+include-style('form-block')
+include-style('animation')
//- +include-script('animation')
.form-block
	.container
		.form-block__body
			h3.form-block__title Отправьте заявку
			form#js_lazy-load-validation-2(enctype='multipart/form-data', method='POST', action='#', autocomplete='on', ).form
				+input({
					small: false,
					required: true,
					placeholder: 'Имя',
					label: 'Имя'
				})(type='text',
				name='FIELD-name',
				data-bv-field='FIELD-name',
				data-bv-message='Укажите Ваше имя',
				required)
				+input({
					small: false,
					required: true,
					placeholder: 'E-mail',
					label: 'Почтовый адрес',
				})(type='email',
				name='FIELD-email',
				data-bv-field='FIELD-email',
				data-bv-message='Укажите свой e-mail',
				data-bv-emailaddress-message='E-mail введен некорректно',
				required)
				+input({
					small: false,
					placeholder: '№ телефона',
					required: true,
					label: '№ телефона'
				})(type='tel',
				pattern='\\d [0-9]',
				data-bv-notempty-message="Это обязательное поле",
				data-bv-regexp-message="Телефон введен некорректно"
				required)
				+input({
					small: false,
					placeholder: 'Адрес сайта',
					required: true,
					label: 'Адрес сайта'
				})(type='text',
				name='FIELD-web-address',
				data-bv-field='FIELD-web-address',
				data-bv-message='Укажите адрес сайта',
				data-bv-emailaddress-message='Адрес сайта введен некорректно',
				required)
				button.btn.btn-outline(href="#modal-success" data-toggle='modal')
					span Отправить
		.animate-field.hidden-md-down
			.el-line-big
				.el-line-big__ball
					+lazy-img({img: 'images/method-ico-1.png'})
			.els
				- var n = 0;
				while (n < 8)
					- n++
					.el